<div class="w-full justify-between items-center flex py-4 px-8 border-b border-gray-200">
    <div class="flex items-center gap-2">
        <fa-icon [icon]="['fas', 'cubes']" class="text-2xl text-blue-600"></fa-icon>
        <div class="flex flex-col">
            <span class="text-sm font-semibold text-gray-500">{{ commerceService.me()?.commerce?.commercename }} | {{ commerceService.me()?.user?.username }} </span>
            <span class="text-xs text-gray-400">{{ commerceService.me()?.commerce?.commercetype === 'barber' ? 'Barbería' : 'Salón' }} | {{ lastLogin() | date: 'short'}}</span>
        </div>
    </div>
    <div class="flex items-center gap-4">
        <button type="button" (click)="logout()" class="p-1 border-b border-transparent hover:border-b-body/20 rounded cursor-pointer">
            <fa-icon [icon]="['fas', 'arrow-right-from-bracket']" class="text-gray-400" title="Cerrar sesión"></fa-icon>
        </button>
        <!-- <a routerLink="/" class="text-gray-600 hover:text-gray-800 transition-colors duration-200">Home</a>
        <a routerLink="/about" class="text-gray-600 hover:text-gray-800 transition-colors duration-200">About</a>
        <a routerLink="/contact" class="text-gray-600 hover:text-gray-800 transition-colors duration-200">Contact</a> -->
    </div>
</div>
