<div class="w-full flex flex-col gap-1">

  @if (label()) {
  <label class="text-body font-medium text-sm w-full">
    <p>{{ label() }} @if (required()) { <span class="text-error"> * </span> }</p>
  </label>
  }

  <div
    class="w-full flex items-center border-2 rounded-md transition-all duration-300 overflow-hidden"
    [class.border-stroke]="!error()" [class.focus-within:border-stroke-focus]="!error()" [class.border-stroke-error]="error()"
    [class.opacity-60]="isDisabled()">
    <!-- Prefijo país -->
    <span
      class="px-3 py-2 text-sm font-medium text-body bg-surface-page border-r-2 border-stroke select-none roboto shrink-0">
      {{ countryCode() }}
    </span>

    <!-- Input dígitos -->
    <input type="tel" inputmode="numeric" pattern="[0-9]*"
      class="flex-1 px-4 py-2 text-sm text-muted focus:text-input focus:outline-none bg-transparent roboto"
      placeholder="300 000 0000" maxlength="10" [value]="digits()" [disabled]="isDisabled()" [required]="required()"
      (input)="onInput($event)" (blur)="onBlur()" />

    <!-- Contador -->
    <span class="pr-3 text-xs text-muted shrink-0 roboto">
      {{ digits().length }}/10
    </span>
  </div>

  @if (error()) {
  <span class="text-error text-xs">{{ error() }}</span>
  } @else if (hint()) {
  <span class="text-muted text-xs">{{ hint() }}</span>
  }

</div>
